/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .container {
    min-height: 1440px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    min-height: 768px;
  }
}

.container {
  display: flex;
  background: linear-gradient(to bottom right, #f9fafb, #d2d6db);
  justify-content: center;
  /* Why does align-items: flex-start work here*/
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 200px;
  padding-right: 17.5px;
  padding-left: 17.5px;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

.card {
  border-radius: 8px;
  width: 340px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
  padding: 24px;
}

.card-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.card-header-text-container {
  display: flex;
  flex-direction: column;
}

.card-header-title {
  color: #171717;
  font-weight: 600;
  font-size: 1.125rem;
}

.card-header-subtitle {
  color: #525252;
  font-weight: 400;
  font-size: 0.875rem;
}

.image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.message {
  margin-top: 16px;
}

.message-text {
  color: #525252;
  font-weight: 400;
  font-size: 0.875rem;
}
